%br
%h1=@section.name
%br
%hr
%br
=form_for(@stream, :html => { :multipart => true } ) do |f|
	=f.hidden_field :section_id, :value => @section.id
	=fields_for @post do |fp|
		%div
			=fp.label :photo, 'Картинка'
			=fp.file_field :photo
			=f.submit('Создать тред')
		%br
		=fp.label :message, 'Используйте конструкцию >>n для ответа на пост №n' 
		%div=fp.text_area :message, :rows => 8, :cols => 90
		

-	@streams.each do |stream|
	%hr	
	=render stream.posts.first	
	%div{:class=>'reply-link'}=link_to '[Ответ]', stream
	
	-	if stream.posts.count > 10
		%div{:class=>'missed'}="Пропущено #{stream.posts.count - 10}"	
	-	stream.posts[1..-1].last(9).each do |post|
		%div{:class => 'post-wrapper'}=render post
		
=will_paginate(@streams)
		
%br
%br