%br
%br
%a{:name => "post#{post.id}"}
%table
	%tr
		%td{:class => 'post-image'}
			- if post.photo.exists? then
				%a{:href	=> "#{post.photo.url(:large)}", :class=>"thickbox"}
					=image_tag post.photo.url(:medium)
		%td{:class => 'post-text'}
			№ #{post.id} 
			%br
			-	parts = post.message.partition(/>>\d+/)
			-	while parts[2].length > 0 do
				=parts[0]
				%a{:href => "#post#{parts[1][2..-1]}"}=parts[1]
				-	parts = parts[2].partition(/>>\d+/)
			=parts[0]